
<h1>Kob's Z0ne</h1>

<section id="blog-content">
  <div class="container">
    <div id="posts-blogroll" class="blogroll">
      <%= link_to "Create A Post", new_post_path %>
      <% @posts.each do |post| %>
        <h3><a class="post-link" href="/posts/<%= post.id %>"><%= post.title %></a></h3>
        <p class="post-content"><%= post.content %></p>
        <hr />
      <div class="comments">

      </div>
      <!-- <%= link_to "edit", edit_post_path(post) %>
      <%= link_to "delete", post, method: :delete, data: {confirm: "Are you sure you want to delete this post"} %> -->

      <% end %>
    </div>
  </div>
</section>
