<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <% if flash[:notice] %>
      <div class="">
      <p class="notice"><%= notice %></p>
    </div>
    <% end %>
      <% if flash[:alert] %>
       <p class="alert"><%= alert %></p>
    <% end %>
    <nav class="navbar">
      <div class="">
      <%= link_to 'Home', root_path, class: "navbar-item" %>
      </div>
      <div class="">
        <%= link_to "Create New Post", new_post_path, class: "navbar-item" %>
      </div>
      <div class="signOut">
        <%= link_to 'sign-out', destroy_user_session_path, method: :delete %>
      </div>
      <!-- <ul>
              <li><a href="/">Home</a></li>
              <% if current_user %>
                <% # Logged In %>
                <li class="logged-in"><a href="/user/<%= @current_user.id if @current_user %>">Profile</a></li>
                <li class="logged-in"><a href="/users">Users</a></li>
                <li class="logged-in"><a href="/logout">Logout</a></li>
              <% else %>
                <% # Logged Out %>
                <li class="logged-out"><a href="users/sign_up">Signup</a></li>
                <li class="logged-out"><a href="users/sign_in">Login</a></li>
                <li class="logged-out"><a href="/">The Room</a></li>
              <% end%>
            </ul> -->
    </nav>
    <%= yield %>
  </body>
</html>
